{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {replace_os_vars_tests, "0.1.0"},
         [replace_os_vars_tests,
          sasl]},
        {sys_config, "config/sys.config"},
        {vm_args, "config/vm.args"},

        {overlay, [
                   {mkdir, "releases/{{release_version}}/config"},
                   {template, "config/included.config", "releases/{{release_version}}/config/included.config"}]}]}.
