%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-
%% Dependencies ================================================================
{deps, [{rebar_vsn_plugin, ".*",
         {git, "https://github.com/erlware/rebar_vsn_plugin.git",
          {tag, "master"}}},
        {neotoma, ".*",
         {git, "https://github.com/seancribbs/neotoma.git", {branch, "master"}}},
        {erlware_commons, ".*",
         {git, "https://github.com/erlware/erlware_commons.git",
          {branch, "next"}}},
        {erlydtl, ".*",
         {git, "https://github.com/evanmiller/erlydtl.git",
          {branch, "master"}}},
        {getopt, "",
         {git, "https://github.com/jcomellas/getopt.git",
          {branch, "master"}}}]}.

%% Rebar Plugins ==============================================================
{plugins, [rebar_vsn_plugin]}.

%% Compiler Options ============================================================
{erl_opts,
    [debug_info, warnings_as_errors, inline]}.

%% EUnit =======================================================================
{eunit_opts,
 [{report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled, true}.
{cover_print_enabled, true}.

%% Misc =======================================================================
{escript_incl_apps,
 [getopt, erlware_commons]}.

{first_files, [rcl_provider]}.
