%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-

{deps, [{neotoma, "",
         {git, "https://github.com/ericbmerritt/neotoma.git", {tag, "1.5.1"}}},
        {erlware_commons, ".*",
         {git, "https://github.com/ericbmerritt/erlware_commons.git",
          {branch, "next"}}},
        {getopt, "",
         {git, "https://github.com/jcomellas/getopt.git", {tag, "v0.5.1"}}}]}.

{escript_incl_apps,
 [getopt, erlware_commons]}.

{first_files, [rcl_provider]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{erl_opts, [debug_info, warnings_as_errors, inline]}.
