%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-
%% Dependencies ================================================================
{deps, [{rebar_vsn_plugin, ".*",
         {git, "https://github.com/erlware/rebar_vsn_plugin.git",
          {branch, "master"}}},
        {neotoma, ".*",
         {git, "https://github.com/seancribbs/neotoma.git", {branch, "master"}}},
        {erlware_commons, ".*",
         {git, "https://github.com/erlware/erlware_commons.git",
          {branch, "master"}}},
        {providers, ".*",
         {git, "https://github.com/tsloughter/providers.git",
          {tag, "v1.0.0"}}},
        {erlydtl, ".*",
         {git, "https://github.com/erlydtl/erlydtl.git",
          {tag, "0.9.0"}}},
        {getopt, "",
         {git, "https://github.com/jcomellas/getopt.git",
          {branch, "master"}}}]}.

%% Rebar Plugins ==============================================================
{plugin_dir, "deps/rebar_vsn_plugin/src"}.
{plugins, [rebar_vsn_plugin]}.

%% Compiler Options ============================================================
{erl_opts,
    [{platform_define, "^[0-9]+", namespaced_types},
     debug_info,
     warnings_as_errors,
     inline]}.

%% EUnit =======================================================================
{eunit_opts,
 [{report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled, true}.
{cover_print_enabled, true}.

%% Misc =======================================================================
{erlydtl_opts, [{doc_root, "priv/templates"},
                {compiler_options, [report, return, debug_info]}]}.
{escript_incl_apps,
 [getopt, erlware_commons, erlydtl, providers]}.
{escript_emu_args, "%%! +sbtu +A0 -noinput\n"}.

