{erl_opts, [debug_info]}.
{deps, []}.

{relx, [
    {release, {vm_args_inclusion_tests, "0.1.0"},
                 [vm_args_inclusion_tests]},
    {sys_config_src, "config/sys.config.src"},
    {vm_args_src, "config/vm.args.src"},

    {overlay, [
        {template, "config/vm.args.src", "releases/{{release_version}}/vm.args.src"},
        {copy, "config/vm.extended.args", "releases/{{release_version}}/vm.extended.args"}
    ]}
]}.

{profiles, [{dev, [{relx, [{dev_mode, true}]}]}]}.
