{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {extension_tests, "0.1.0"},
         [extension_tests]},
        {extended_start_script_extensions, [{bar, "extensions/bar"},
                                            {foo, "extensions/foo"},
                                            {baz, "extensions/baz"}]},
        {overlay, [{copy, "./bar", "bin/extensions/bar"},
                   {copy, "./foo", "bin/extensions/foo"},
                   {copy, "./baz", "bin/extensions/baz"}]}
]}.
