%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-
%% Example Relx Simple Config
%% =============================
%%
%% This is an example relx config whose purpose demonstrate the minimal
%% config needed for relx. For a more complete example see the relx.config
%% in the examples directory.
%%
%% The Release We Are Building
%% ---------------------------
%%
%% Lets say we have a release called sexpr. The sexpr release has version 0.0.2
%% 0.0.2 requires erlware_commons 0.8.1 or greater along with neotoma
%% (any version).

{release, {sexpr, "0.0.2"},
 [sexpr,
  {erlware_commons, 0.8.1, '>='},
  neotoma]}.
