{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {hooks_tests, "0.1.0"},
         [hooks_tests]},
        {vm_args, "config/vm.args"},
        {extended_start_script_hooks, [
               {pre_start, [
                            {custom, "hooks/pre_start"}
                           ]},
               {post_start, [
                             wait_for_vm_start,
                             {pid, "foo.pid"},
                             wait_for_vm_start,
                             {custom, "hooks/post_start"},
                             {custom, "hooks/post_start2", "bin/hooks/extra/post_start"}
                            ]},
               {pre_stop, [
                           {custom, "hooks/pre_stop"}
                          ]},
               {post_stop, [
                            {custom, "hooks/post_stop"}
                           ]},
               {status, [
                         {custom, "hooks/status"}
                        ]}
        ]}
]}.
