{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {powershell_release, "0.1.0"},
         [powershell_release, sasl]},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        {extended_start_script, true},
        {include_start_scripts_for, [powershell]}]
}.

{profiles, [{dev, [{relx, [{dev_mode, true}]}]}]}.
