{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {system_libs_tests, "0.1.0"},
         [system_libs_tests]},

        {system_libs, "system_libs/"},

        {mode, prod},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}
]}.

{profiles, [{bad_system_libs,
             [%% make it a real dir so it fails in the search
              %% instead of the config setup part of relx
              {relx, [{system_libs, "config/"}]}
             ]},
            {false_system_libs,
             [%% make it a real dir so it fails in the search
              %% instead of the config setup part of relx
              {relx, [{system_libs, false}]}
             ]}]}.
