{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {overlay_error_test, "0.1.0"},
         [overlay_error_test,
          sasl]},

        {mode, dev},

        %% automatically picked up if the files
        %% exist but can be set manually, which
        %% is required if the names aren't exactly
        %% sys.config and vm.args
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}

        %% the .src form of the configuration files do
        %% not require setting RELX_REPLACE_OS_VARS
        %% {sys_config_src, "./config/sys.config.src"},
        %% {vm_args_src, "./config/vm.args.src"}
]}.

{profiles, [{prod, [{relx,
                     [%% prod is the default mode when prod
                      %% profile is used, so does not have
                      %% to be explicitly included like this
                      {mode, prod}

                      %% use minimal mode to exclude ERTS
                      %% {mode, minimal}
                     ]
            }]},
	    {malformed_error, [{relx,
			  [
			   {mode, prod},
			   {overlay, [{malformed, foo}]}
			  ]}]},
	    {mkdir_error, [{relx,
			  [
			   {mode, prod},
			   {overlay, [{mkdir, "releases/RELEASES"}]}
			  ]}]},
	    {copy_error, [{relx,
			  [
			   {mode, prod},
			   {overlay, [{copy, "does_not_exist", "something"}]}
			  ]}]},
	    {template_read_error, [{relx,
			  [
			   {mode, prod},
			   {overlay, [{template, "does_not_exist", "something"}]}
			  ]}]},
	    {template_write_error, [{relx,
			  [
			   {mode, prod},
			   {overlay, [{template, "README.md", "releases"}]}
			  ]}]},
	    {template_dir_error, [{relx,
			  [
			   {mode, prod},
			   {overlay, [{template, "README.md", "releases/RELEASES/foo"}]}
			  ]}]},
	    {chmod_error, [{relx,
			  [
			   {mode, prod},
			   {overlay, [{chmod, 0, "does_not_exist"}]}
			  ]}]},
	    {link_error, [{relx,
			  [
			   {mode, dev},
			   {overlay, [{link, "README.md", "../../../../../../../../../../../../../../../../../../../../../../../../f"}]}
			  ]}]}

	   ]}.
